#-------------------------------------
#for common
*.com
*.class
*.dll
*.exe
*.a
*.o
*.so
*.core
*.gch
*.tmp.*
*.dbg
*.DBG

#-------------------------------------
#for build
*.dylib
*.ll
*.bc
*.wast
*.wast.hpp
*.wasm
*.s
*.dot
*.abi.hpp
*.cmake
*.ninja

\#*
\.#*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cmake-build-debug/
cmake-build-release/
Makefile
compile_commands.json

*.pyc
*.pyo

build/*
build-debug/*
*/bin/

.DS_Store

#-------------------------------------
# for tmp.tmp.cpp
*.tmp.*

# for temp *.doc
~*
*~
*.ini
*.exe.*


#-------------------------------------
#for this repository
*Demo
log*.txt
xfyun/Linux_aisound/bin

